<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- Appender pour la Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender pour Logstash (ELK) -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <stackTrace/>
                <contextName/>
                <arguments/>
                <mdc/> <!-- Inclut le userId, traceId, etc. -->
                <pattern>
                    <pattern>
                        {
                        "application": "${appName}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <!-- Log spécifique pour l'audit et la sécurité -->
    <logger name="com.matchmakergaming.security.audit" level="DEBUG" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>
</configuration>
